@import url("https://use.typekit.net/edx4ggc.css");


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'neuzeit-grotesk-condensed',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}